.App {
  font-family: sans-serif;
  text-align: center;
}

.w-alot {
  width: 800px;
}

.w-side {
  width: 350px;
  height: 250px;
  padding: 16px;
  padding-top: 6px;
  padding-left: 36px;
}

.table-1 {
  width: 800px;
}

.hv > tr:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.Content {
  margin: 5px 0 0 15px;
}

.Header {
  padding: 5px;
  background-color: #fcf8e3;
  font-size: 25px;
  font-weight: bold;
  margin: 5px 0;
}

li:not(:last-child) {
  margin-bottom: 4px;
}

.grad1 {
  fill: linear-gradient(
    rgb(176, 77, 241),
    rgba(255, 0, 242, 0.699),
    rgb(255, 217, 90)
  );
}

.w-profile {
  width: 500px;
}

a[href^="https"] {
  color: cornflowerblue;
}

.tableRow {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.tableRow > th {
  text-align: center;
  margin: 10px;
  font-size: 20px;
}