.App {
  font-family: sans-serif;
  text-align: center;
}

.sampleQuestions {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color:#f7f7f7;
}

.sampleQuestions > .Header {
  text-align: left;
  background-color: transparent;
  padding: 0;
}
.sampleQuestions > .Content {
  margin: 15px;
}

.latestAnnouncement {
  /* border: 1px solid black; */
  padding: 2px;
  width: 700px;
  height: 100px;
}

.puzzles {
  width: 800px;
}

.table {
  width: 800px;
}

.hv > tr:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.aboutUs {
  margin-top: 20px;
  /* border: 1px solid black; */
  width: 700px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.Content {
  margin: 5px 0 0 15px;
}

.Header {
  padding: 5px;
  background-color:#FCF8E3;
  font-size: 25px;
  font-weight: bold;
  margin: 5px 0;
}

li:not(:last-child) {
  margin-bottom: 4px;
}

.grad1 {
  fill: linear-gradient(rgb(176, 77, 241), rgba(255, 0, 242, 0.699), rgb(255, 217, 90));
}

.w-profile {
  width: 500px;
}

a[href^="https"] {
  color: cornflowerblue;
}